<div>
<h1>Your Borrowed Books</h1>

<% if @borrowed_books.any? %>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>ISBN</th>
        <th>Due Date</th>
      </tr>
    </thead>
    <tbody>
      <% @borrowed_books.each do |borrowing| %>
        <tr>
          <td><%= link_to borrowing.book.title, book_path(borrowing.book) %></td>
          <td><%= borrowing.book.author %></td>
          <td><%= borrowing.book.isbn %></td>
          <td><%= borrowing.due_date.strftime("%Y-%m-%d") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>You have no borrowed books.</p>
<% end %>

<%= link_to "Back to Books", books_path, class: "btn btn-secondary" %>
</div>
